# iPython Notebook Checkpoints
.ipynb_checkpoints/

# Cache
__pycache__/

# Spark Stuff
derby.log
metastore_db

# Research Papers
papers/

# Google Auth
client_secrets.json
gauth.yml

# Data
data/

# Pickle
pickle/

# Scratch Notebooks
Isomantics.ipynb
spark.ipynb

